<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      
  <h2>User info</h2>
    <%= form_with model: @customer, url: customer_path, method: :patch, local:true do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
     <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control-file user_image", accept: 'image/*' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control-email" %>
      </div>
　    <div class="field">
        <%= f.label :age, '年齢' %><br/>
        <%= f.select :age, Customer.ages.keys, class: "prefecture-select", include_blank: "選択して下さい" %>
       </div>
       <div class="field">
        <%= f.label :name, '性別' %><br/>
        <%= f.radio_button :gender, :male %>
        <%= f.label :gender_male, "男性" %>

        <%= f.radio_button :gender, :female %>
        <%= f.label :gender_female, "女性" %>
    
        <%= f.radio_button :gender, :others %>
        <%= f.label :gender_female, "入力なし" %>
       </div>
       <div class="form-group">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, class: "form-control introduction" %>
       </div>
       <div class="form-group">
        <%= f.submit '登録する', class: 'btn btn-secondary' %>
       </div>
    <% end %>
    
  </div>
 </div>
</div>
