<div class='container mt-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

  <h2 class="text-center">User Info</h2>
    <%= form_with model: @customer, url: customer_path, method: :patch, local:true do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
     <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control-file user_image", accept: 'image/*' %>
      </div>
      <div class="form-group">
        <%= f.label :email %></br>
        <%= f.email_field :email, class: "form-control-email" %>
      </div>
      <div class="field">
        <%= f.label :age, '年齢' %><br/>
        <%= f.select :age, Customer.ages.keys.map{|k| [I18n.t("enums.customer.age.#{k}"), k]}, class: "prefecture-select", include_blank: "選択して下さい" %>
      </div>
      <div class="field">
        <%= f.label :gender, '性別' %><br/>
        <%= f.radio_button :gender, Customer.genders.key(0) %>
        <%= f.label :gender, Customer.genders_i18n[:gender_male], value: Customer.genders.key(0) %>
        <%= f.radio_button :gender, Customer.genders.key(1) %>
        <%= f.label :gender, Customer.genders_i18n[:gender_female], value: Customer.genders.key(0) %>
        <%= f.radio_button :gender, Customer.genders.key(2) %>
        <%= f.label :gender, Customer.genders_i18n[:gender_normal], value: Customer.genders.key(0) %>
      </div>
      <div class="form-group">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, class: "form-control introduction" %>
      </div>

      <div class="form-group d-flex justify-content-between">
        <%= f.submit '登録する', class: 'btn btn-border' %>
        <%= link_to "戻る", customer_path(@customer), class: 'btn btn-border mt-3' %>
        <%= link_to "退会する", customers_confirm_withdraw_path, class: "btn btn-danger" %>
      </div>
      <% end %>
      </div>
   </div>
</div>

