<div class='container'>
  <div class='row'>
    <div class="col-12">
      <h1>User Home</h1>
    </div>
  </div>

  <div class='row'>
    <div class="col-4">
      <table class='table caption-top'>
        <tr style="width: 50%">
          <th><%= image_tag @customer.get_profile_image(250,200) %></th>
        </tr>
        <tr style="width: 30%">
          <th><%= link_to "編集する", edit_customer_path(@customer), class:"btn btn-primary"%></th>
        </tr>
      </table>
    </div>


    <div class="col-8">
      <h3>　<%= @customer.name %>　さん</h3>
          <p class="text-right">
            <%= link_to "記録する", books_search_path, class:"btn btn-primary"%>
            <%= link_to "読了一覧", posts_path(current_customer), class:"btn btn-primary"%>
          </p>
        <table class='table caption-top'>
          <tr style="width: 50%">
            <th>introduction</th>
            <th><%= @customer.introduction %></th>
          </tr>
        </table>

        <table class="table table-bordered table-sm">
          <thead class="table-light">
            <tr>
              <th style="width: 50%">読了数</th>
              <th style="width: 50%">読みたい</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @customer.posts.count %></td>
              <td><%= @customer.favorites.count %></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  
<div class="card-list-container py-5">
  <div class="row card w-50 mx-auto mt-4 shadow-lg">
  <div class='col-12'>
    <h3>最近の読書</h3>
      <% if @customer.posts.count == 0 %>
        <td><storng>まだ投稿がありません</storng></td>
          <% else %>
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>タイトル</th>
                  <th>著者</th>
                  <th>読了日</th>
                </tr>
              </thead>
            <% @posts_latest3.each do |posts| %>
              <tbody>
                <tr>
                  <td><%= image_tag posts.book.img_big %></td>
                  <td><%= posts.book.title %></td>
                  <td><%= posts.book.author %></td>
                  <td><%= posts. reading_finish %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
      <% end %>
    </div>
  </div>
</div>
</div>
