  <div class='row'>
    <div class="col">
      <h1>User Home</h1>
        <table class='table'>
          <tr>
            <%= image_tag @customer.get_profile_image(250,200) %>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @customer.introduction %></th>
          </tr>
          <tr>
            <th><%= link_to "編集する", customers_information_edit_path(@customer), class:"btn btn-primary"%></th>
          </tr>
        </table>
        
        <h3><%= @customer.name %></h3>
            <%= link_to "記録する", new_book_path, class:"btn btn-primary"%>
            
            <table class="table table_bordered table-hover table-sm">
  <thead>
    <tr>
      <th>読了数</th>
      <th>お気に入り数</th>
      <th>コメント数</th>
      <th>メモ数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "#{@customer.posts.count}", posts_path(current_customer) %></td>
      <td><%= link_to "#{@customer.posts.favorites.count}", posts_path(current_customer) %></td>
      <td><%= link_to "#{@customer.posts.comment.count}", posts_path(current_customer) %></td>
      <td><%= link_to "#{@customer.posts.memo.count}", posts_path(current_customer) %></td>
    </tr>
  </tbody>
</table>


<h3>最近の読書</h3>
<% if @customer.posts.count == 0 %>
 <p>まだ投稿がありません</p>
 <% else %>
  <%= @posts.each.with_index(1) do |book, i| %>
        .numbers 
          = i 
        .books
          =link_to book.title, book, class: "titles"

    </div>
  </div>
