<div class='container'>
  <div class='row-12'>
    <h1>User Home</h1>
      <div class="col-4">
        <table class='table'>
          <tr style="width: 50%">
            <th><%= image_tag @customer.get_profile_image(250,200) %></th>
          </tr>
          <tr style="width: 30%">
            <th>introduction</th>
            <th><%= @customer.introduction %></th>
          </tr>
          <tr style="width: 30%">
            <th><%= link_to "編集する", edit_customer_path(@customer), class:"btn btn-primary"%></th>
          </tr>
        </table>
      </div>

      <div class="col-8">
        <h3><%= @customer.name %></h3>
          <div><%= link_to "記録する", books_search_path, class:"btn btn-primary"%></div>
            <table class="table table_bordered table-hover table-sm">
              <thead>
                <tr>
                  <th>読了数</th>
                  <th>お気に入り数</th>
                  <th>コメント数</th>
                  <th>メモ数</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= link_to "#{@customer.posts.count}", posts_path(current_customer) %></td>
                  <td><%= link_to "#{@customer.posts.count}", favorites_posts_path(current_customer) %></td>
                  <td><%= link_to "#{@posts.pluck(:comment).compact.count}", posts_path(current_customer) %></td>
                  <td><%= link_to "#{@posts.pluck(:memo).compact.count}", posts_path(current_customer) %></td>
                </tr>
              </tbody>
            </table>
      </div>

  <div class='col-12'>
    <h3>最近の読書</h3>
      <% if @customer.posts.count == 0 %>
        <td><storng>まだ投稿がありません</storng></td>
          <% else %>
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>タイトル</th>
                  <th>著者</th>
                  <th>読了日</th>
                </tr>
              </thead>
            <tbody>
              <% @posts_latest3.each do |posts| %>
                <tr>
                  <td><%= posts.book.img_big %></td>
                  <td><%= posts.book.title %></td>
                  <td><%= posts.book.author %></td>
                  <td><%= posts. reading_finish %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      <% end %>
    </div>
  </div>
</div>