
        <% if @favorite_list.count == 0 %>
          <div class="text-center"><storng>まだ登録がありません</storng></div>
            <% else %>
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 20%"></th>
                  <th style="width: 20%">タイトル</th>
                  <th style="width: 20%">著者</th>
                  <th style="width: 20%">読みたい</th>
                  <th style="width: 10%">詳細</th>
                </tr>
              </thead>
            <tbody>
              <% if favorite_list.present? %>
                <% @favorite_list.each do |f| %>
                <tr>
                  <td><%= image_tag f.book.img_big %></td>
                  <td><%= f.book.title %></td>
                  <td><%= f.book.author %></td>
                   <% post_id = f.id %>
                      <td id = 'favorite_buttons_<%= f.id %>'>
                        <%= render "public/favorites/favorite", post: f, favorite: @favorite %>
                      </td>
                  <td><%= link_to "詳細", book_path(f.book), class: "btn btn-primary"%></td>
                </tr>
              <% end %>
             <% end %>
            </tbody>
          </table>
        <%= paginate @posts %>
      <% end %>