  <div class="row">
    <div class="col-12">
      <h3>投稿数の前日比・前週比</h3>
    </div>
  </div>

<div class="col-12">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>前週の投稿数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= current_customer.posts.toweek_count.count %>冊</td>
      <td><%= current_customer.posts.agoweek_count.count %>冊</td>
    </tr>
  </tbody>
</table>

  <div class="row">
    <div class="col-12">
      <h3>読書傾向</h3>
    </div>
  </div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>感動した</th>
      <th>驚いた</th>
      <th>笑った</th>
      <th>爽快だった</th>
      <th>切なくなった</th>
      <th>泣いた</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td><%= excitement_count %></td>
    <td><%= surprise_count %></td>
    <td><%= laugh_count %></td>
    <td><%= fresh_count %></td>
    <td><%= sad_count %></td>
    <td><%= cry_count %></td>
    </tr>
  </tbody>
</table>

<canvas id="myChart" width="200" height="100"> </canvas>

<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        // # 'bar'でグラフタイプを縦棒グラフに指定
        type: 'bar',
        data: {
          // # 横軸にとるデータ(今回は投稿日付)を埋め込む
            labels: <%= posts %>,
            datasets: [{
                label: "月投稿数",
                // # 縦軸にとるデータ(今回は投稿数)を埋め込む
                data: <%= month_record %>,
                backgroundColor: 'rgba(255, 80, 120, 1.0)',
                borderColor: 'rgba(255, 80, 120, 1.0)',
                fill: false
            }]
        },
    });
</script>
</div>