
<div class="col-6 post-new my-5">
  <h2 class="text-center">読書記録　編集</h2>
  <%= form_with model: @posting, url: post_path, method: :put, local:true do |posting| %>
  
    <div class="form-group mt-5">
     <%= posting.label "読了日", class: "pr-5"%>
     <%= posting.date_field :reading_finish %>
    </div>
    
    <div class="form-group mt-5">
     <%= render "star", posting: posting, post: @posting %>
    </div>

    <div class="form-group">
      <%= posting.label "感情タグ", class: "pr-5" %>
        <%= posting.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <%= tag.check_box class:"form-contro5 mt-4" do %>
          <%= tag.check_box + tag.text %>
          <% end %>
        <%= tag.label {tag.text} %>
      <% end %>
    </div>

    <div class="form-group">
      <%= posting.label "コメント" %>
      <%= posting.text_area :comment, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= posting.label "メモ" %>
      <%= posting.text_area :memo, class: 'form-control' %>
    </div>

     <div class="form-group d-flex justify-content-around">
      <%= posting.submit class: 'btn btn-border mt-3' %>
      <%= link_to "戻る", post_path(@posting), class: 'btn btn-border mt-3' %>
     </div>

  <% end %>
</div>