<div class="container">
  <div class="row">
     <table class="table">
       <thead>
         <tr>
           <th colspan="4">タイトル</th>
           <th colspan="3">あらすじ</th>
           <th colspan="5">記録</th>
         </tr>
       </thead>
       <tbody>
          <% @book.each do |book| %>
         <tr>
          <td><%= image_tag book.img_big %></td>
            <td><%= book.title %></br>
               <p>著者：<%= book.author %></p></br>
               <p>出版社：<%= book.publisher %></p></br>
               <p>あらすじ：</p></br><p><%= book.item_caption %></p>
            </td>
            <td><%= link_to '記録する', post_path, class: "btn btn-success" %></td>
         </tr>
               <% end %>
      <% end %>
       </tbody>
     </table>
  </div>
</div>