<div class="card-list-container py-5">
  <div class="row text-center">
    <%= render '/layouts/errors', obj: @posting %>
  </div>
  <div class="row card w-50 mx-auto mt-4 shadow-lg">
     <table class="col-12 table　table-sm">
       <thead>
         <tr>
           <th style="width: 20%"></th>
           <th style="width: 40%"></th>
         </tr>
       </thead>
       <tbody>
         <tr>
          <td><%= image_tag @book.img_big %></td>
            <td><%= @book.title %></br>
                著者：<%= @book.author %></br>
                <div>出版社：<%= @book.publisher %></div></br>
                <p>あらすじ：</br><%= @book.item_caption %></p>
            </td>
         </tr>
       </tbody>
     </table>
  </div>
<div class="col-12">
  <%= form_with model: @posting, url: posts_path, method: :post, local:true do |posting| %>
   <%= posting.hidden_field :book_id, value: @book.id %>
    <div class="form-group">
     <%= posting.label "読了日"%>
     <%= posting.date_field :reading_finish %>
    </div>

     <%= render "star", posting: posting %>

    <div class="form-group">
      <%= posting.label "感情タグ" %>
        <%= posting.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <%= tag.check_box class:"form-contro5" do %>
            <%= tag.check_box + tag.text %>
          <% end %>
        <%= tag.label {tag.text} %>
      <% end %>
    </div>

    <div class="form-group">
      <%= posting.label "コメント" %>
      <%= posting.text_field :comment, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= posting.label "メモ" %>
      <%= posting.text_field :memo, class: 'form-control' %>
    </div>

     <div class="form-group">
      <%= posting.submit class: 'btn btn-success' %>
     </div>

  <% end %>
</div>
</div>