<div class="card-list-container py-5">
  <div class="row card w-50 mx-auto mt-4 shadow-lg">
     <table class="col-12 table　table-sm">
       <thead>
         <tr>
           <th style="width: 20%"></th>
           <th style="width: 40%"></th>
         </tr>
       </thead>
       <tbody>
         <tr>
          <td><%= image_tag @posting.book.img_big %></td>
            <td><%= @posting.book.title %></br>
                著者：<%= @posting.book.author %></br>
                <div>出版社：<%= @posting.book.publisher %></div></br>
                <p>あらすじ：</br><%= @posting.book.item_caption %></p>
            </td>
         </tr>
       </tbody>
     </table>
  </div>

  <div class="row">
    <div class="col-12">
       <h2>レビュー</h2>
    </div>
  </div>
  
    <div class="row">
      <div class="col-12">
           <table>
             <tbody>
               <tr>
                 <td>
                   <%= image_tag @posting.customer.get_profile_image(200,200) %>
                   <%= @posting.customer.name %>
                 </td>
               </tr>
      </div>
      
       <div class="col">
          <div class="row">
              <tr>
                <td>
                  <%= @posting.comment %>
                </td>
                
                  <td><%= render "static-rate", posting: @posting %></td>

                  <td>
                     <% @posting.tags.each do |f| %>
                       <%= f.name %>
                     <% end %>
                  </td>
                  <% if @posting.customer == current_customer %>
                  
                <td>
                  <%= link_to "投稿削除", post_path(@posting), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger float-end" %>
                </td>
                <td>
                  <%= link_to '記録編集', edit_post_path(@posting), class: "btn btn-sm btn-success" %>
                </td>
               <% end %>
               </tr>
             </tbody>
           </table>
        </div>
      </div>
    </div>
</div>