<div class="card-list-container py-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>不適切な投稿を報告する</h2>
    </div>
  </div>
  <div class="row card w-50 mx-auto mt-4 shadow-lg">
     <table class="col-12 table　table-sm">
       <thead>
         <tr>
           <th style="width: 20%"></th>
           <th style="width: 40%"></th>
         </tr>
       </thead>
       <tbody>
         <tr>
          <td><%= image_tag @post.book.img_big %></td>
            <td><%= @post.book.title %></br>
                著者：<%= @post.book.author %></br>
                <div>出版社：<%= @post.book.publisher %></div></br>
                <p>あらすじ：</br><%= @post.book.item_caption %></p>
            </td>
         </tr>
       </tbody>
     </table>
  </div>

  <div class="row">
    <div class="col-12 text-center mt-5">
       <h2>報告理由</h2>
    </div>
  </div>
    <div class="row">
      <div class="col-6  post-new">
        <%= form_with model:[@post, @report] do |f| %>
          <div class="form-group">
            <%= f.text_area :reason, rows:'3', class:"form-control", placeholder: "記載例：重苦しい話が続くため、ハッピーエンドの物語としては考えにくい。" %>
            <%= f.submit "報告する", "data-confirm" => "本当に報告しますか？", class: "btn btn-danger float-end px-5 mt-5 mx-auto d-block" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
</div>