  <div class="col-2 ml-4 mt-4">
    <%= render 'public/posts/tag_search', tags: @tags %>
  </div>
  
  <div class='col-12'>
    <h3>タイムライン</h3>
      <!--< if @posts.count == 0 %>-->
      <!--  <td><storng>まだ投稿がありません</storng></td>-->
      <!--    < else %>-->
            <table class="table table-hover">
              <thead class="table-hover">
                <tr>
                  <th style="width: 30%"></th>
                  <th style="width: 20%">タイトル</th>
                  <th style="width: 10%">著者</th>
                  <th style="width: 10%">読了日</th>
                  <th style="width: 20%">レビュー</th>
                  <th style="width: 10%">読みたい</th>
                </tr>
              </thead>
            <tbody>
              <% @posts.each do |post| %>
                <tr>
                  <td>
                    <%=link_to (post.book) do %>
                    <%= image_tag post.book.img_big %>
                    <% end %>
                  </td>
                  <td><%= post.book.title %></td>
                  <td><%= post.book.author %></td>
                  <td><%= post.reading_finish %></td>
　                <td><%= render "static-rate", posts: post %></td>
                    <% if customer_signed_in? %>
                      <% if current_customer.favorites?(post) %>
                       <td><%= button_to '取り消す', post_favorites_path(post.id), method: :delete %></td>
                      <% else %>
                       <td><%= button_to '読みたい', post_favorites_path(post.id), method: :post %></td>
                      <% end %>
                    <% else admin_signed_in? %>
                      <%= form_with model: post do |f| %>
                        <td><%= f.label :posted_status, "公開", value: false %>
                        <%= f.radio_button :posted_status, 'false' %>
                        <%= f.label :posted_status, "非公開", value: true %>
                        <%= f.radio_button :posted_status, 'true' %>
                        <%= f.submit "設定" %>
                      <% end %>
                        </td>
                    <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <%= paginate @posts %>
      <!--< end %>-->
    </div>