<div class="container">
  
  <div class="row">
    <div class="col-12">
      <h3>記録する書籍を検索してください</h3>
        <div class="search-form">
          <%= form_with url: books_search_path, method: :get, local: true do |search| %>
          <!--<= search.select :range, options_for_select([['タイトル','title'],['作者',''],['出版社','']]) %>-->
          <%= search.text_field :title, placeholder: 'タイトルで検索', class: "form-control"%>
    　　    <%= search.submit "検索", class: "btn-sm btn-light" %>
    　　          <% end %>
  　　    </div>
　  </div>
  </div>
    　
    　<!--検索結果の表示-->
  <div class="row">
    <h1>検索結果  <%= @book.count%>件</h1>
     <table class="table table-hover">
       <thead>
         <tr>
           <th colspan="4"></th>
           <th colspan="3"></th>
           <th colspan="5"></th>
         </tr>
       </thead>
       <tbody>
                 <% if @book %>
          <% @book.each do |book| %>

         <tr>
          <td><%= image_tag book.img_big %></td>
            <td><%= book.title %></br>
               <p>著者：<%= book.author %></p></br>
               <p>出版社：<%= book.publisher %></p></br>
               <p>あらすじ：</p></br><p><%= book.item_caption %></p>
            </td>
            <td><%= link_to '記録する', post_path(book), class: "btn btn-sm btn-success" %></td>
         </tr>
               <% end %>
      <% end %>

       </tbody>
     </table>
  </div>
</div>