<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">検索方法を選択のうえ、記録する書籍を検索してください</h3>
    </div>
  </div>
  
<%= form_with url: books_search_path, method: :get, local: true do |search| %>
  <div class="row mt-3">
    <div class="col-4 text-center form-select form-select-lg">
       <%= search.select :range, options_for_select([['タイトル','title'],['作者','author']] ) %>
    </div>
    <div class="col-6">
       <%= search.text_field :keyword, value: @keyword, placeholder: '検索', class: "form-control", required: true %>
    </div>
    <div class="col-2">
       <%= search.submit "検索", class: "btn-sm btn-light" %>
    </div>
  </div>
<% end %>


<!--検索結果の表示-->
  <div class="row mt-5">
   <div class="col-10 mx-auto">
    <h1>検索結果  <%= @book.count%>件</h1>
     <table class="table table-hover">
       <thead>
         <tr>
           <th style="width: 20%"></th>
           <th style="width: 40%"></th>
           <th style="width: 20%"></th>
         </tr>
       </thead>
       <tbody>
         <% if @book %>
           <% @book.each do |book| %>
           <tr>
            <td class="text-center"><%= image_tag book.img_big %></td>
            <td><%= book.title %></br>
                著者：<%= book.author %></br>
               <div>出版社：<%= book.publisher %></div></br>
               <p>あらすじ：</br><%= book.item_caption %></p>
            </td>
            <td><%= link_to '記録する', new_book_posts_path(book), class: "btn btn-success" %></td>
           </tr>
          <% end %>
         <% end %>
         </div>
       </tbody>
     </table>
  </div>
</div>