<div class="card-list-container py-5">
  <div class="row card w-50 mx-auto mt-4 shadow-lg">
     <table class="col-12 table table-sm">
       <thead>
         <tr>
           <th style="width: 30%"></th>
           <th style="width: 50%"></th>
         </tr>
       </thead>
       <tbody>
         <tr>
          <td>
             <%= image_tag @book.img_big %>
          </td>
          <td><%= @book.title %></br>
               著者：<%= @book.author %></br>
               <div>出版社：<%= @book.publisher %></div></br>
               <p>あらすじ：</br><%= @book.item_caption %></p>
          </td>
          <td>
             <%= link_to new_book_report_path(@book),class: "btn brn-sm", method: :get do %>
               <i class="fas fa-exclamation-circle"></i>
             <% end %>
           </td>
         </tr>
       </tbody>
     </table>
  </div>

  <div class="row card w-50 mx-auto mt-4 shadow-lg">
      <div class="col-12">
         <h2>レビュー</h2>
            <% if @book.posts.count == 0 %>
             <td><storng>レビューはまだありません</storng></td>
            <% else %>
      <table class="table">
         <% @book.posts.each do |posts| %>
           <tbody>
             <tr>
               <td>
                 <%= image_tag posts.customer.get_profile_image(100,100) %>
                 <%= posts.customer.name %>
               </td>
               <td>
                 <%= posts.comment %>
               </td>
               <td>
                 <%= render "static-rate", posts: posts %>
               </td>
               <td>
                 <% posts.tags.each do |f| %>
                   <%= f.name %>
                 <% end %>
               </td>
               <td>
                 <% if posts.customer == current_customer %>
                 <%= link_to "Destroy", post_path(posts), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger float-end" %>
                 <% end %>
               </td>
             </tr>
           </tbody>
         <% end %>
         <% end %>
      </table>
    </div>
  </div>
</div>
