<div class="card-list-container py-5">
  <div class="row card w-50 mx-auto mt-4 shadow-lg px-4">
     <table class="col-12 my-2">
       <thead>
         <tr>
           <th style="width: 20%"></th>
           <th style="width: 50%"></th>
         </tr>
       </thead>
       <tbody>
         <tr>
          <td class="text-center">
               <%= image_tag @book.img_big %>
            <p><%= link_to @book.rakuten_url ,class: "btn brn-sm" do %>
               <i class="fas fa-atlas"></i> 購入はこちら
               <% end %>
            </p>
          </td>
          <td><h4><%= @book.title %></h4></br>
               著者：<%= @book.author %></br>
               <div>出版社：<%= @book.publisher %></div></br>
               <p>あらすじ：</br><%= @book.item_caption %></p>
          </td>
         </tr>
       </tbody>
     </table>
  </div>

  <div class="row card w-50 mx-auto mt-4 shadow-lg">
      <div class="col-12 mt-5">
         <h2 class="mb-3 text-center">レビュー</h2>
            <% if @book.posts.count == 0 %>
             <td><storng>レビューはまだありません</storng></td>
            <% else %>
      <table class="table">
         <% @book.posts.each do |posts| %>
           <tbody>
             <tr>
               <td class="text-center pt-3" style="width: 10%">
                 <%= image_tag posts.customer.get_profile_image(50,50), class: "name_image" %>
                 <%= posts.customer.name %>
               </td>
               <td style="width: 60%">
                 <%= render "static-rate", posts: posts %>
                   <% posts.tags.each do |f| %>
                   <%= f.name %>
                 <% end %></br>
                 <%= posts.comment %>
               </td>
               <td>
                 <%= link_to new_post_report_path(posts),class: "btn brn-sm", method: :get do %>
                   <i class="fas fa-exclamation-circle"></i>
                 <% end %>
               </td>
               <td style="width: 30%">
               <% if customer_signed_in? %>
                 <% if posts.customer == current_customer %>
                     <%= link_to "投稿削除", post_path(posts), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-border btn-sm float-end" %>
                     <%= link_to '記録編集', edit_post_path(posts), class: "btn btn-sm btn-border" %>
                   <% end %>
                   
               <% else admin_signed_in? %>
                    <%= form_with model: posts do |f| %>
                      <td><%= f.label :posted_status, "公開", value: false %>
                         <%= f.radio_button :posted_status, 'false' %>
                         <%= f.label :posted_status, "非公開", value: true %>
                         <%= f.radio_button :posted_status, 'true' %>
                         <%= f.submit "設定" %>
                       <% end %>
                      </td>
                    <% end %>
               </td>
               </td>
             </tr>
           </tbody>
         <% end %>
         <% end %>
      </table>
    </div>
  </div>
</div>
