<div class="main-container d-flex justify-content-center">
  <div class="row ">
    <div class="col-6 py-5">
      <h3 class="text-light">書物は我々のうちなる</br>凍った海のための斧なのだ。</h3>
        <h6>フランツ・カフカ（現在のチェコ出身の小説家／1883－1924）</h6><br>
          <p>BOOKMELOはハッピーエンドという物語を通して、凍えた海に天使の梯子をかけることを目的としたサイトです。</br>
             あなたの心を満たす”物語”と、出会えることを願います。
          </p>
    </div>

    <div class="col-6 field-group text-center py-5">
      <h2>Log in</h2>
        <%= form_with model: @customer, url: customer_session_path do |f| %>
          <div class='field'>
            <%= f.label :name, 'ユーザー名' %><br/>
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>
          <div class="field">
            <%= f.label :password, 'パスワード' %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
            <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
            <% end %>
          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
            <% end %>
          <div class="actions text-back mt-3">
          <%= render "public/shared/links" %>
          </div>
    </div>
    
  </div>
</div>